<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-Instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>ITC303 Team Violet Project</display-name>
	<description>A web application to rate and gather information from users about their preferred games and game styles</description>
	
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/violet.taglib.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>none</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>StaffOnlyFilter</filter-name>
		<filter-class>violet.filters.StaffOnlyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>StaffOnlyFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
</web-app>